Repository merchise/xotl.tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

run static checks in Python 3.6:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
    - .mypy_cache/
  script:
  - pip install tox
  - tox -e system-staticcheck
  allow_failure: true
  variables:
    PYTHON: '3.6'

run static checks in Python 3.7:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
    - .mypy_cache/
  script:
  - pip install tox
  - tox -e system-staticcheck
  allow_failure: true
  variables:
    PYTHON: '3.7'

run static checks in Python 3.8:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
    - .mypy_cache/
  script:
  - pip install tox
  - tox -e system-staticcheck
  allow_failure: true
  variables:
    PYTHON: '3.8'

run static checks in Python 3.9:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
    - .mypy_cache/
  script:
  - pip install tox
  - tox -e system-staticcheck
  allow_failure: true
  variables:
    PYTHON: '3.9'

run all Python 3.8 tests without greenlets:
  image: python:$PYTHON-alpine
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-unit
  variables:
    PYTHON: '3.8'

run all Python 3.8 tests with greenlets:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-greenlets
  variables:
    PYTHON: '3.8'

run all Python 3.9 tests without greenlets:
  image: python:$PYTHON-alpine
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-unit
  variables:
    PYTHON: '3.9'

run all Python 3.9 tests with greenlets:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-greenlets
  variables:
    PYTHON: '3.9'

run all Python 3.6 tests without greenlets:
  image: python:$PYTHON-alpine
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-unit
  variables:
    PYTHON: '3.6'

run all Python 3.6 tests with greenlets:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-greenlets
  variables:
    PYTHON: '3.6'

run all Python 3.7 tests without greenlets:
  image: python:$PYTHON-alpine
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-unit
  variables:
    PYTHON: '3.7'

run all Python 3.7 tests with greenlets:
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .tox/
  script:
  - pip install tox
  - tox -e system-greenlets
  variables:
    PYTHON: '3.7'

Decrease likelihood of flaky tests with hypothesis.
  tests/test_datetime.py
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Reimplement `classproperty` in Python 3.9+.
  xotl/tools/objects.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Make `memoized_property` an alias of `functools.cached_property` in Python 3.8+
  docs/source/xotl.tools/objects.rst
  xotl/tools/objects.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Call __set_name__ on moduleproperty if needed.
  xotl/tools/modules.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Add entries to HISTORY.
  docs/source/HISTORY.rst
  docs/source/history/_changes-2.1.11.rst
  docs/source/index.rst
  xotl/tools/objects.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Remove unused footnote.
  docs/source/CONTRIBUTING.rst
Due: build documentation, publish in our RTD

Don't raise TypeError directly when comparing Quantity and Dimension.
  docs/source/history/_changes-2.1.11.rst
  tests/test_dim.py
  xotl/tools/dim/meta.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Publish documentation in gitlab pages.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Fix CI job 'pages': remove trailing '*'.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Default to Python 3.8 documentation for intersphix.
  docs/source/conf.py
Due: build documentation, publish in our RTD

Correct minor grammar mistake.
  docs/source/history/_changes-2.1.11.rst
Due: build documentation, publish in our RTD

Deprecate module xotl.tools.cli
  docs/source/history/_changes-2.1.11.rst
  xotl/tools/cli/__init__.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Correct grammatical error: add missing verb in a sentence.
  xotl/tools/cli/__init__.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Fix typo in xotl.tools.cli documentation.
  xotl/tools/cli/__init__.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Improve/Fix type hints of xotl.tools.context.
  docs/source/history/_changes-2.1.10.rst
  xotl/tools/context.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, build documentation, publish in our RTD

Reformat long signatures.
  xotl/tools/dim/meta.py
  xotl/tools/objects.py
  xotl/tools/tasking/__init__.py
  xotl/tools/web.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Simplify the CI pipeline by reusing changes and refs.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

DON'T MOVE away from setuptools to poetry/flit based build system.
  Pipfile
  Pipfile.lock
  backlog.org
  pyproject.toml
  xotl/__init__.py
Due: none

Run the tests using the actual distributed wheel.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Add missing type annotation for validate_attrs.
  xotl/tools/objects.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9

Remove deprecated functions.
  tests/test_iterators.py
  tests/test_objects.py
  xotl/tools/future/datetime.py
  xotl/tools/future/itertools.py
  xotl/tools/objects.py
  xotl/tools/string.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Remove lots of deprecated stuff (mostly deprecated in 1.8.x).
  docs/source/history/_changes-2.2.0.rst
  xotl/tools/_version.py
  xotl/tools/bound.py
  xotl/tools/cli/__init__.py
  xotl/tools/cpystack.py
  xotl/tools/decorator/__init__.py
  xotl/tools/decorator/meta.py
  xotl/tools/deprecation.py
  xotl/tools/future/collections.py
  xotl/tools/future/inspect.py
  xotl/tools/future/itertools.py
  xotl/tools/future/types.py
  xotl/tools/objects.py
  xotl/tools/values/ids.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Remove usage of deprecated 'assert(Not)Equals'.
  tests/test_decorators.py
  tests/test_modules.py
  xotl/tools/names.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Avoid TypeError while building documentation.
  docs/source/xotl.tools/dim/base.rst
  docs/source/xotl.tools/dim/meta.rst
  xotl/tools/dim/meta.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Revert to 60% coverage requirement.
  setup.cfg
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Update the docs configuration to Python 3.9, by default.
  docs/source/conf.py
Due: build documentation, publish in our RTD

Refactor the Gitlab CI pipeline.
  .gitlab-ci.yml
  backlog.org
  docs/Makefile
  docs/source/CONTRIBUTING.rst
  docs/source/LICENSE.rst
  docs/source/history/_changes-2.2.0.rst
  docs/source/index.rst
  setup.cfg
  setup.py
  tox.ini
  xotl/tools/names.py
  xotl/tools/tasking/lock.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Don't run tests in Python 3.6 and 3.7
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Fix formatting flakes.
  xotl/tools/context.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9

Fix the HISTORY of release 2.2.0.
  docs/source/HISTORY.rst
Due: build documentation, publish in our RTD

Add support for Python 3.10
  .gitlab-ci.yml
  docs/source/HISTORY.rst
  docs/source/history/_changes-2.2.1.rst
  tox.ini
  xotl/tools/cli/__init__.py
  xotl/tools/future/collections.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Release 2.2.1
  docs/source/HISTORY.rst
Due: build documentation, publish in our RTD

Correct the name of dimension 'Pressure'.
  docs/source/xotl.tools/dim/base.rst
  xotl/tools/dim/base.py
  xotl/tools/dim/base.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Add entry in ChangeLog about the change in 'Pressure'.
  docs/source/history/_changes-2.1.11.rst
Due: build documentation, publish in our RTD

Release 2.1.11
  docs/source/HISTORY.rst
Due: build documentation, publish in our RTD

Start 2.2.2
  docs/source/HISTORY.rst
  docs/source/history/_changes-2.2.2.rst
  docs/source/index.rst
Due: build documentation, publish in our RTD

Add NO_FILL to `slides`.
  docs/source/history/_changes-2.2.2.rst
  docs/source/xotl.tools/future/itertools.rst
  tests/test_iterators.py
  xotl/tools/future/itertools.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Release 2.2.2
  docs/source/HISTORY.rst
Due: build documentation, publish in our RTD

Make `memoized_property` the same as `property` regarding type checking.
  xotl/tools/objects.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9

Path conditions:
  run static checks in Python 3.6: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run static checks in Python 3.7: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run static checks in Python 3.8: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run static checks in Python 3.9: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run all Python 3.8 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.8 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.9 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.9 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.6 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.6 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.7 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.7 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  build documentation: any of: docs/**/*.rst, docs/**/*.py, xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  publish in our RTD: any of: docs/**/*.rst, docs/**/*.py, xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
