Repository merchise/xotl.tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test doctests, run required static checks, tests, build, build documentation

Path conditions:
  lint: any of: pyproject.toml, mypy.ini, tox.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  test doctests: any of: pyproject.toml, mypy.ini, tox.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml, docs/**/*.rst, docs/**/*.py, docs/**/*.css
  run required static checks: any of: pyproject.toml, mypy.ini, tox.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  tests: any of: pyproject.toml, mypy.ini, tox.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  build: any of: pyproject.toml, mypy.ini, tox.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  build documentation: any of: pyproject.toml, mypy.ini, tox.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml, docs/**/*.rst, docs/**/*.py, docs/**/*.css

Release 3.1.0
  docs/source/history/3.1/3.1.0.rst
Due: test doctests, build documentation

Upgrade to ruff 0.3.2
  Makefile
  pyproject.toml
  tox.ini
Due: lint, test doctests, run required static checks, tests, build, build documentation

Ensure 'xotl.tools.testing' doctests are run.
  docs/source/index.rst
  docs/source/xotl.tools/testing.rst
  docs/source/xotl.tools/testing/capture.rst
  pyproject.toml
Due: lint, test doctests, run required static checks, tests, build, build documentation

Update the doc's front-page changelog.
  docs/source/index.rst
Due: test doctests, build documentation

Finish upgrade to ruff 0.3.2
  Makefile
  requirements-dev-py312.lock
Due: lint, test doctests, run required static checks, tests, build, build documentation

Add 'xotl.tools.testing.capture'
  docs/source/history/3.1/3.1.1.rst
  docs/source/history/3.1/_changes-3.1.1.rst
  docs/source/xotl.tools/testing/capture.rst
  src/xotl/tools/testing/capture.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

Reverse HISTORY TOC to be reversed chronologically
  docs/source/history/index.rst
Due: test doctests, build documentation

Release 3.1.1
  docs/source/history/3.1/3.1.1.rst
Due: test doctests, build documentation

project: Upgrade to ruff 0.3.5 (no changes).
  pyproject.toml
  requirements-dev-py312.lock
Due: lint, test doctests, run required static checks, tests, build, build documentation

make: Refactor docs build and browse
  Makefile
Due: none

make: Upgrade ruff and use the same varname of GNUPG_PUBLIC_KEY_FILE
  .gitlab-ci.yml
  pyproject.toml
  requirements-dev-py312.lock
Due: lint, test doctests, run required static checks, tests, build, build documentation

make: Improve bootstrapping of rye and uv.
  .dir-locals.el
  Makefile
Due: none

make: Update rye URL and improve bootstrap
  Makefile
Due: none

make: Split bootstrapping of uv and rye.
  Makefile
Due: none

project: Update dependencies
  .gitignore
  pyproject.toml
  requirements-dev-py312.lock
  src/xotl/tools/cpystack.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

make: Modify 'make test' to use pytest directly.
  Makefile
  pyproject.toml
  requirements-dev-py312.lock
  tox.ini
Due: lint, test doctests, run required static checks, tests, build, build documentation

ci: Remove no longer functional RTD
  .gitlab-ci.yml
  ci/cleanup.yml
Due: lint, test doctests, run required static checks, tests, build, build documentation

make, ci: Remove tox and use the tools directly in the CI
  .gitignore
  .gitlab-ci.yml
  Makefile
  requirements-dev.lock
  requirements.lock
  tox.ini
Due: lint, test doctests, run required static checks, tests, build, build documentation

ci: Remove job 'check signature of tag'
  .gitlab-ci.yml
Due: lint, test doctests, run required static checks, tests, build, build documentation

ci: Run 'build documentation' only to check issues.
  .gitlab-ci.yml
Due: lint, test doctests, run required static checks, tests, build, build documentation

ci: Use 'uv' in the CI
  .gitlab-ci.yml
Due: lint, test doctests, run required static checks, tests, build, build documentation

ci: Use make targets in the CI
  .gitlab-ci.yml
  Makefile
Due: lint, test doctests, run required static checks, tests, build, build documentation

ci: Extract a single coverage job.
  .gitlab-ci.yml
  Makefile
Due: lint, test doctests, run required static checks, tests, build, build documentation

project: Include missing dependencies for older Pythons
  requirements-dev.lock
Due: none

project: Mark next release as 3.2.0
  docs/source/history/3.2/3.2.0.rst
  docs/source/history/3.2/_changes-3.2.0.rst
  docs/source/history/index.rst
  docs/source/index.rst
Due: test doctests, build documentation

make: Add 'make shell' to test things directly in the shell.
  Makefile
  pyproject.toml
Due: lint, test doctests, run required static checks, tests, build, build documentation

testing: Add module 'xotl.tools.testing.unit'
  docs/source/history/3.2/_changes-3.2.0.rst
  docs/source/xotl.tools/testing/unit.rst
  src/xotl/tools/testing/unit.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

datetime: Increase coverage of 'xotl.tools.future.datetime'
  src/xotl/tools/testing/datetime.py
  tests/test_datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

*: Simplify 'SynchronizedField'
  src/xotl/tools/future/datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

datetime: Fix EmptyTimeSpan proper superset condition
  docs/source/history/3.2/_changes-3.2.0.rst
  src/xotl/tools/future/datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

datetime: Add coverage for 'get_previous_<weekday>' functions
  tests/test_datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

datetime: Fix bug in strfdelta
  docs/source/history/3.2/_changes-3.2.0.rst
  src/xotl/tools/future/datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

datetime: Add tests for empty time span '!='
  src/xotl/tools/future/datetime.py
  tests/test_datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

datetime: Add replace for (Date)TimeSpan and test containment.
  docs/source/history/3.2/_changes-3.2.0.rst
  docs/source/xotl.tools/future/datetime.rst
  src/xotl/tools/future/datetime.py
  src/xotl/tools/symbols.py
  tests/test_datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

datetime: Keep increasing the coverage
  src/xotl/tools/future/datetime.py
  src/xotl/tools/future/datetime.pyi
  tests/test_datetime.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

project: Add 'pytest-insta' (and use it).
  pyproject.toml
  requirements-dev.lock
  src/xotl/tools/future/textwrap.py
  tests/snapshots/textwrap__textwrap_with_skip__0.txt
  tests/snapshots/textwrap__textwrap_with_skip_one_line__0.txt
  tests/test_textwrap.py
Due: lint, test doctests, run required static checks, tests, build, build documentation

project: Require 71% coverage.
  pyproject.toml
Due: lint, test doctests, run required static checks, tests, build, build documentation

docs: Fix change log links to new 'replace' methods.
  Makefile
  docs/source/history/3.2/_changes-3.2.0.rst
Due: test doctests, build documentation

Release 3.2.0
  docs/source/history/3.2/3.2.0.rst
Due: test doctests, build documentation

Deprecate internal backport of 'graphlib'
  Makefile
  docs/source/history/3.2/3.2.1.rst
  docs/source/history/3.2/_changes-3.2.1.rst
  docs/source/index.rst
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/xotl/tools/future/_graphlib.py
  src/xotl/tools/future/graphlib.py
  tests/test_graphlib.py
Due: lint, test doctests, run required static checks, tests, build, build documentation
