Repository merchise/xotl.tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Path conditions:
  run static checks in Python 3.6: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run static checks in Python 3.7: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run static checks in Python 3.8: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run static checks in Python 3.9: any of: xotl/tools/**/*.py, xotl/tools/**/*.pyi
  run all Python 3.8 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.8 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.9 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.9 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.6 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.6 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.7 tests without greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  run all Python 3.7 tests with greenlets: any of: xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  build documentation: any of: docs/**/*.rst, docs/**/*.py, xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml
  publish in our RTD: any of: docs/**/*.rst, docs/**/*.py, xotl/tools/**/*.py, tests/**/*.py, xoutil/**/*.py, setup.py, setup.cfg, tox.ini, .gitlab-ci.yml

Release 2.1.10.post7
  docs/source/HISTORY.rst
Due: build documentation, publish in our RTD

Release 2.2.3
  docs/source/HISTORY.rst
  docs/source/history/_changes-2.2.3.rst
  docs/source/index.rst
Due: build documentation, publish in our RTD

Require some modules to pass mypy tests.
  .gitlab-ci.yml
  mypy.ini
  tox.ini
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Add more types for dimensions with American spelling for 'meter'.
  HISTORY.rst
  docs/source/HISTORY.rst
  docs/source/history/_changes-2.2.4.rst
  docs/source/index.rst
  docs/source/xotl.tools/dim/base.rst
  xotl/tools/dim/base.py
  xotl/tools/dim/base.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Fix the minimal amount of type hints to make test_dim.py pass mypy checks.
  xotl/tools/future/inspect.py
  xotl/tools/future/types.py
  xotl/tools/objects.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Avoid to run releases jobs in foreign runners.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Don't create staled jobs in foreign CI runners.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Require no issues with the docs in the MRs.
  .gitlab-ci.yml
  docs/Makefile
  docs/source/HISTORY.rst
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Correct the documented spellings of 'killometer', etc.
  docs/source/history/_changes-2.2.4.rst
  docs/source/xotl.tools/dim/base.rst
  xotl/tools/dim/base.py
  xotl/tools/dim/base.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Clean docs of removed functions.
  docs/source/xotl.tools/future/datetime.rst
  docs/source/xotl.tools/future/itertools.rst
  docs/source/xotl.tools/objects.rst
  docs/source/xoutil.rst
Due: build documentation, publish in our RTD

Include the docs/dev dependencies in extra requirements.
  .gitlab-ci.yml
  setup.py
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Drop support for Python 3.6 completely, test in Python 3.7+
  .gitlab-ci.yml
  docs/source/history/_changes-2.2.4.rst
  setup.py
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Split the cache by version of Python.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Update to mypy 0.910
  tox.ini
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Move the distribution's metadata and option to 'setup.cfg'.
  setup.cfg
  setup.py
  tox.ini
  xotl/tools/future/types.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Perform mypy check in Python 3.10
  .gitlab-ci.yml
  xotl/tools/future/types.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Build the distributions in MRs if needed.
  .gitlab-ci.yml
  docs/source/history/_changes-2.2.4.rst
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Limit releases to our Gitlab server.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Allow to publish to PyPI at any location.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Distribute only wheels.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Use CI_SERVER_HOST instead.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Add get_next/previous_<weekday> functions.
  docs/source/history/_changes-2.2.4.rst
  docs/source/xotl.tools/future/datetime.rst
  xotl/tools/future/datetime.py
  xotl/tools/future/datetime.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Don't require statictype in Python 3.10
  .gitlab-ci.yml
  tox.ini
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Fix the job 'publish doc' to allow '/' in branches.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Release 2.2.4
  docs/source/HISTORY.rst
Due: build documentation, publish in our RTD

Allow typing_extensions>=3.10.0
  .gitlab-ci.yml
  setup.py
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Reformat with black 22.1.0 and isort~=5.10.0
  .gitlab-ci.yml
  xotl/tools/benchmark/mp.py
  xotl/tools/cli/__init__.py
  xotl/tools/dim/base.py
  xotl/tools/dim/meta.py
  xotl/tools/future/datetime.py
  xotl/tools/future/itertools.py
  xotl/tools/future/pprint.py
  xotl/tools/future/subprocess.py
  xotl/tools/objects.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Release 2.2.0.post2
  docs/source/HISTORY.rst
Due: build documentation, publish in our RTD

Switch doc theme to Pyramid.
  .gitlab-ci.yml
  docs/source/conf.py
  setup.py
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Use font Roboto Mono for code and pre snippets.
  docs/source/conf.py
  docs/theme/pyramid-roboto/static/merchise.css
  docs/theme/pyramid-roboto/theme.conf
Due: build documentation, publish in our RTD

Update the pyramid-roboto theme.
  docs/source/conf.py
  docs/theme/pyramid-roboto/static/merchise.css
Due: build documentation, publish in our RTD

Mark next release as 2.2.5.
  docs/source/HISTORY.rst
  docs/source/history/_changes-2.2.5.rst
  docs/source/index.rst
Due: build documentation, publish in our RTD

Add missing annotation for xotl.tools.popattr.
  xotl/tools/objects.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9

Add missing annotation for xdir and fdir
  xotl/tools/objects.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9

Fix syntax of object.pyi.
  xotl/tools/objects.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9

Add `without_duplicates` to iter_/get_branch_subclasses.
  docs/source/history/_changes-2.2.5.rst
  xotl/tools/objects.py
  xotl/tools/objects.pyi
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Don't run statics check that are not required to succeed.
  .gitlab-ci.yml
Due: run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD

Require doctest actually run and pass.
  .gitlab-ci.yml
  docs/Makefile
  docs/source/conf.py
  docs/source/xotl.tools/bases.rst
  docs/source/xotl.tools/context.rst
  docs/source/xotl.tools/dim/base.rst
  docs/source/xotl.tools/dim/meta.rst
  docs/source/xotl.tools/fp/iterators.rst
  docs/source/xotl.tools/fp/tools.rst
  docs/source/xotl.tools/future/collections.rst
  docs/source/xotl.tools/future/datetime.rst
  docs/source/xotl.tools/future/itertools.rst
  docs/source/xotl.tools/names.rst
  docs/source/xotl.tools/objects.rst
  docs/source/xotl.tools/tasking.rst
  setup.py
  tox.ini
  xotl/tools/dim/meta.py
  xotl/tools/future/datetime.py
  xotl/tools/objects.py
  xotl/tools/tasking/__init__.py
Due: run static checks in Python 3.6, run static checks in Python 3.7, run static checks in Python 3.8, run static checks in Python 3.9, run all Python 3.8 tests without greenlets, run all Python 3.8 tests with greenlets, run all Python 3.9 tests without greenlets, run all Python 3.9 tests with greenlets, run all Python 3.6 tests without greenlets, run all Python 3.6 tests with greenlets, run all Python 3.7 tests without greenlets, run all Python 3.7 tests with greenlets, build documentation, publish in our RTD
