Repository merchise/xotl.tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Path conditions:
  lint: any of: pyproject.toml, mypy.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  test doctests: any of: pyproject.toml, mypy.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml, docs/**/*.rst, docs/**/*.py, docs/**/*.css
  run required static checks: any of: pyproject.toml, mypy.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  tests: any of: pyproject.toml, mypy.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  coverage: any of: pyproject.toml, mypy.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  build: any of: pyproject.toml, mypy.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml
  build documentation: any of: pyproject.toml, mypy.ini, requirements-dev-*.lock, src/**/*.py, tests/**/*.py, .gitlab-ci.yml, docs/**/*.rst, docs/**/*.py, docs/**/*.css

Release 3.2.1
  docs/source/history/3.2/3.2.1.rst
Due: test doctests, build documentation

Fix link in changelog.
  docs/source/history/3.2/_changes-3.2.1.rst
Due: test doctests, build documentation

Use only the version in docs.
  docs/source/conf.py
Due: test doctests, build documentation

project: Switch to uv.
  .gitlab-ci.yml
  Makefile
  pyproject.toml
  uv.lock
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Remove most decorators and deprecate the remaining package.
  docs/source/history/3.3/3.3.0.rst
  docs/source/history/3.3/_changes-3.3.0.rst
  docs/source/history/index.rst
  docs/source/xotl.tools/decorator.rst
  docs/source/xotl.tools/decorator/development.rst
  docs/source/xotl.tools/decorator/meta.rst
  src/tests/test_decorators.py
  src/xotl/tools/decorator/__init__.py
  src/xotl/tools/decorator/development.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Mark next release as 3.3.0
  docs/source/history/3.3/_changes-3.3.0.rst
  docs/source/index.rst
  src/xotl/tools/decorator/meta.py
  uv.lock
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Fix typing of get_branch_subclasses and iter_branch_subclasses.
  docs/source/history/3.3/_changes-3.3.0.rst
  src/xotl/tools/objects.pyi
Due: test doctests, build documentation

Remove deprecated module `xotl.tools.deprecation`.
  docs/source/CONTRIBUTING.rst
  docs/source/history/3.3/_changes-3.3.0.rst
  docs/source/xotl.tools/deprecation.rst
  src/xotl/tools/deprecation.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Remove deprecated xotl.tools.future.graphlib.
  docs/source/history/3.3/_changes-3.3.0.rst
  mypy.ini
  requirements-dev.lock
  requirements.lock
  src/xotl/tools/future/graphlib.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Add 'docs/server' with auto-rebuild and watchdog.
  Makefile
  pyproject.toml
  uv.lock
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Remove invalid documentation note. We no longer re-export from stdlib.
  src/xotl/tools/fs/path.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Deprecate the module `xotl.tools.fs.path`.
  docs/source/history/3.3/_changes-3.3.0.rst
  src/xotl/tools/fs/path.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Prerelease 3.3.0a1
  uv.lock
Due: none

Release 3.3.0
  docs/source/history/3.3/3.3.0.rst
Due: test doctests, build documentation

Deprecate 'xotl.tools.testing.capture'
  docs/source/history/3.4/3.4.0.rst
  docs/source/history/3.4/_changes-3.4.0.rst
  docs/source/history/index.rst
  docs/source/index.rst
  docs/source/xotl.tools/testing/capture.rst
  src/xotl/tools/testing/capture.py
  uv.lock
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Recover 'xotl.tools.testing.capture'
  docs/source/history/3.4/_changes-3.4.0.rst
  docs/source/xotl.tools/testing/capture.rst
  src/xotl/tools/testing/capture.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Remove deprecated module ``xotl.tools.fs.path``.
  docs/source/history/3.4/_changes-3.4.0.rst
  docs/source/xotl.tools/fs.rst
  docs/source/xotl.tools/fs/path.rst
  src/xotl/tools/fs/__init__.py
  src/xotl/tools/fs/path.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Switch to 'uv' completely and stop using 'rye'
  .gitlab-ci.yml
  Makefile
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Deprecate xotl.tools.dim.
  docs/source/history/3.4/_changes-3.4.0.rst
  src/xotl/tools/dim/base.py
  src/xotl/tools/dim/currencies.py
  src/xotl/tools/dim/meta.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

Remove deprecated xotl.tools.modules.get_module_path
  docs/source/history/3.4/_changes-3.4.0.rst
  docs/source/xotl.tools/modules.rst
  src/tests/test_modules.py
  src/xotl/tools/modules.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

itertools: Remove non-longer needed Python 2 note.
  src/xotl/tools/future/itertools.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

itertools: Remove redundant doctest.
  src/xotl/tools/future/itertools.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

project: Use Python 3.8 as default.
  Makefile
  mypy.ini
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

ci: Add Python 3.13 to our test matrix.
  .gitlab-ci.yml
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

itertools: Add 'key' and 'getvalue' to first_non_null.
  src/xotl/tools/future/itertools.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

tests: Don't fail tests because of OverflowError.
  src/tests/test_datetime.py
Due: lint, test doctests, run required static checks, tests, coverage, build, build documentation

make: Use only uv managed python.
  Makefile
Due: none

make: Upgrade to uv 0.7.2
  Makefile
Due: none

chore: Remove out-dated .dir-locals.el
  .dir-locals.el
Due: none

Upgrade to uv 0.12.17
  Makefile
Due: none

Remove unused `.travis.yml`
  .travis.yml
Due: none
